.DS_Store
Thumbs.db
db.json
*.log
node_modules/
public/
.deploy*/
.idea/
.vscode/
*.iml
.env
tmp/
debug/
coverage/
.temp/
.cache/
dist/

# Yarn
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

# npm
.npm
*.lock
package-lock.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock